/* ------------------- */
/* Custom properties   */
/* ------------------- */

html {
  scroll-behavior: smooth;
}

:root {
  /* Colors */
  --clr-dark: 230 35% 7%;
  --clr-white: 0 0% 100%;
  --clr-red: 357 85% 51%;
  --clr-dark-red: 357 85% 30%;
  --clr-grey: 209 7% 20%;
  --clr-light-grey: 217 10% 14%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-sans: "Lato", sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.65rem;
    --fs-400: 1.125rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set-up the body */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animation for people who-ve turnes them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
}

.flex.even-columns > * {
  width: 100%;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* Colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-red {
  background-color: hsl(var(--clr-red));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-red {
  color: hsl(var(--clr-red));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-sans {
  font-family: var(--ff-sans);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.pic-hide {
  display: none !important;
}

/* ------------------- */
/* Components          */
/* ------------------- */

.logo {
  height: clamp(3rem, 6vw, 6rem);
  cursor: pointer;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  background: hsl(var(--clr-dark));
  margin-bottom: 50vh;
  position: fixed;
  width: 100%;
}

.primary-navigation {
  --gap: clamp(1.5rem, 6vw, 4.5rem);
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.primary-navigation a {
  text-decoration: none;
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 0.5rem) 0;
  border: 0;
  background-color: transparent;
  position: relative;
}

.underline-bar::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    hsl(var(--clr-white)),
    hsl(var(--clr-red))
  );
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.underline-bar:hover::after {
  width: 100%;
}

.primary-navigation > .active,
.primary-navigation > [aria-selected="true"] {
  border-bottom: 2px solid hsl(var(--clr-dark-red));
}

#main h2 {
  color: hsl(var(--clr-dark));
  text-align: center;
  margin: 3rem 0;
  font-weight: 900;
}

#main {
  background-color: hsl(var(--clr-white));
  padding: 0;
}

.image-section {
  position: relative;
  background-attachment: fixed;
  background-image: url(./pictures/banner-bg-mobile-no-text.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 50vh;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-scroller {
  background-color: hsl(var(--clr-grey));
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 70%;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  padding: 2rem 0.5rem;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--clr-grey));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--clr-dark-red));
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--clr-red));
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 2.22;
  object-fit: cover;
}

.card {
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  background: hsl(var(--clr-white) / 0.8);
  border-radius: 15px;
  overflow: hidden;
  width: 80vw;
  box-shadow: -1px 15px 30px -12px hsl(var(--clr-dark));
  margin-bottom: 3rem;
}

.card h3 {
  background: hsl(var(--clr-grey) / 0.8);
  text-align: center;
  font-weight: 900;
  padding: 1rem 0;
  background: linear-gradient(
    to right,
    hsl(var(--clr-red)),
    hsl(var(--clr-dark-red))
  );
}

.card-description {
  padding: 0.5rem;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark) / 0.7);
}

.card .offer_info {
  background: hsl(var(--clr-red));
  align-items: stretch;
  padding: 0.3rem;
}

.offer-prices {
  justify-content: space-around;
}

.service-time,
.service-cost {
  font-size: 1.3rem;
  font-weight: 400;
  flex: 1;
  text-align: center;
}

.service-time {
  border-right: 1px solid hsl(var(--clr-dark-red));
}

.service-time::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f017";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.car-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5e4";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 0.3rem;
}

.service-cost::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f155";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.truck-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f63c";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 0.3rem;
}

hr.rounded {
  border-top: 3px solid hsl(var(--clr-light-grey) / 0.3);
  border-radius: 5px;
  width: 90vw;
}

.chat-link {
  position: fixed;
  width: 60px;
  aspect-ratio: 1;
  bottom: 4rem;
  right: 1rem;
  transition: 250ms ease-in-out;
  filter: drop-shadow(5px 5px 5px hsl(var(--clr-dark)));
}

.chat-link:hover {
  transform: scale(1.3);
}

.primary-footer {
  background: hsl(var(--clr-dark));
  padding: 1.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

.social-icons {
  font-size: var(--fs-500);
}

.primary-footer a {
  text-decoration: none;
  color: hsl(var(--clr-white));
}

.primary-footer li {
  list-style: none;
}

.primary-footer nav {
  gap: 1rem;
}

.ubicacion {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: hsl(var(--clr-light-grey));
  padding-bottom: 2rem;
  gap: 1.5rem;
}

.ubicacion a {
  color: hsl(var(--clr-light-grey));
}

.info-ubicacion {
  flex-direction: column;
  justify-content: center;
}

iframe {
  width: 80%;
  aspect-ratio: 16/9;
}

/* ------------------- */
/* Layout              */
/* ------------------- */

.grid-container,
.card-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

@media (min-width: 35em) {
}

@media (min-width: 45em) {
  .primary-header {
    padding: 0.7rem 3rem;
  }

  .card {
    display: flex;
    width: 20vw;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    transition: 250ms ease-in-out;
  }

  .card:hover {
    transform: scale(120%);
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 0 5rem;
    gap: 3rem;
  }

  .image-section {
    position: relative;
    background-image: url(./pictures/banner-bg-desktop-no-text.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .media-scroller {
    grid-auto-columns: 30%;
  }

  .chat-link {
    width: 80px;
    bottom: 7rem;
    right: 5rem;
    filter: drop-shadow(5px 5px 5px hsl(var(--clr-dark)));
  }

  .chat-link:hover {
    transform: scale(1.5);
  }

  .primary-footer {
    background: hsl(var(--clr-dark));
    padding: 1.5rem 5rem;
    justify-content: space-between;
    align-items: center;
  }

  .ubicacion {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 2.5rem;
  }

  iframe {
    width: 50%;
    aspect-ratio: 16/9;
  }
}
